beginner/1start
beginner/2variable
beginner/3basicOperators
beginner/3conditions
beginner/3switch
beginner/4pointers
beginner/5arrays
beginner/6forloop
beginner/7whileloop
beginner/8dowhile
beginner/9functions
beginner/10structs
