beginner/1start
beginner/2variable
beginner/3basicOperators
beginner/3conditions
beginner/3switch
beginner/4pointers
beginner/5arrays
beginner/6forloop
beginner/7whileloop
beginner/8dowhile
beginner/9functions
beginner/10structs
advancedConcepts/1syntax/1ternary
advancedConcepts/1syntax/2ternaryInPrint
advancedConcepts/1syntax/3nestedTernary
advancedConcepts/2mainFunction/1arguments
advancedConcepts/2mainFunction/2stringArguments
advancedConcepts/3externalVariables/1externalVariables.o
advancedConcepts/4typeCasting/1castFloat.o
advancedConcepts/4typeCasting/2castAbs.o
advancedConcepts/4typeCasting/3castUnsigned.o
advancedConcepts/4typeCasting/4castMalloc.o
advancedConcepts/5staticVariables/2complexData.o
advancedConcepts/5staticVariables/1static.o
advancedConcepts/6sorting/1bubbleSort.o
advancedConcepts/6sorting/2bubbleSortPrint.o
advancedConcepts/6sorting/3quickSort.o
advancedConcepts/7pointers/1ampersand.o
advancedConcepts/7pointers/2ampersandBehaviour.o
advancedConcepts/7pointers/3mainpulatingPointers.o
advancedPointers/*.o
